

<div class="conteiner-fluid">

 
 <nav class="navbar navbar-expand-lg " style="background-color:#CEF5F2; ">
    
  <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/productos">Productos</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/registropro">Registrar Productos</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="/registroped">Registrar Pedidos</a>
      </li>
    
       
    </ul>
             <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
           <li class="navbar-nav nav-item  my-2 my-lg-0">
          <a class="nav-link" href="/">Iniciar Sesión</a>
        </li> 
        <li class="navbar-nav nav-item my-2 my-lg-0">
          <a class="nav-link" href="/">Registrar</a>
        </li>

  
 
</nav>




</div>

 <!--  <app-pedidos></app-pedidos>  -->
<router-outlet></router-outlet>


<router-outlet></router-outlet>