
<body>



<div class="jumbotron" style="background-color: white;">
  <div class="container text-center" style="height: 100px !important">
    <p style="text-align: center; color: #000000;">
	<h1 style="font-size: 30px;">Escuela Politécnica Nacional <br> Facultad de Ingenieria en Sistemas</h1>
	
  </div>
</div>



  
<div class="container" style="margin-top:10px; padding-top:10px; background-color: #d7ebca">    
	<div class="row">
		<h2 style="text-align: center">Contactanos</h2>
		<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Mensaje</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
	</div>
  
</div>


<br><br>

<footer class="container-fluid text-center">
  <p>EPN</p>
</footer>

</body>
