<div class="container-fluid " >
<div class="container h-100" >

  <h3 class="row justify-content-center h-100 " style="color:rgb(111, 0, 255); text-align: center; background-color: rgb(233, 241, 195);">Contactos</h3>

  <div class="card" style=" width: 900px; height: 500px;">
      <form>
  <div class="row align-items-start">
    <div class="container-fluid">
      <div class="input-field col s6">
        <label for="icon_prefix">Primer Nombre</label>
          <input id="icon_prefix" type="text" class="validate">
          
        </div>
    </div>
    <div class="container-fluid">
    <div class="input-field col s6">
      <label for="icon_prefix">Primer Apellido</label><input id="icon_prefix" type="text" class="validate">
      
    </div>
    </div>
    <div class="container-fluid">
    <div class="input-field col s12">
      <label for="email">Correo elelctronico</label>
      <input id="email" type="email" class="validate">
      
    </div>
    </div>
    <div class="container-fluid">
    <div class="input-field col s12">
      
      <label for="textarea1">Comentario</label> <textarea id="textarea1" class="materialize-textarea"></textarea>
      
    </div>
    </div>
    <div class="container-fluid">
    <button class="button-edit" style="width: 33,33%; text-align: center; float: left;">Enviar</button>
    "
    </div>

</div>
</form>
</div>


<div>
  <br>
  <br>
  <br>
</div>

<div class="card">


<p class="center"> <img   src="https://1.bp.blogspot.com/-fJx7LjgX6kk/XFkAg3pQkjI/AAAAAAAAT4Y/OcJOlAAkJFInsEhmIZxtGvr5_Qi_1l27QCLcBGAs/s1600/mapa.png">
</p> 

</div>
<div class="container-fluid " >
<div class="row">

            <div class="col l4 offset-l2 s12">
              <h5 class="black-text">Redes Sociales</h5>
              <ul>
                  
                <li> <a class="black-text text-lighten-3" href="#!">Facebook</a></li>
                <li><a class="black-text text-lighten-3" href="#!">Twitter</a></li>
                <li><a class="black-text text-lighten-3" href="#!">YouTube</a></li>
                <li><a class="black-text text-lighten-3" href="#!">Instagram</a></li>
              </ul>
            </div>
          </div>
</div>
</div>
</div>