<div class="container">
    <br>
    <br>
<h2 class="text-center"s>Registrar Productos</h2>
<br>
<br>

<form #productoForm="ngForm" (ngSubmit)= "addProducto(productoForm)">
<div class="card">
   <div class="row">
       <div class="col-12">
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" >Nombre: </span>
            </div>
            <input type="text" class="form-control" name="nombre" #nombre= "ngModel" [(ngModel)]="productoService.selectedProducto.nombre">
            </div>

       </div>


       <div class="col-12">
        <br>
        <br>
         <select id="inputState" class="form-control" name="categoria" [(ngModel)]="opcionSeleccionado"  (change)="capturar()" >
           <option selected>Categoria</option>
           <option  *ngFor="let dato of datos">{{dato}}</option>
         </select>
       </div>

       <div class="col-12">
        <br>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" >Descripcion: </span>
            </div>
            <input type="text" class="form-control" name="descripcion" #descripcion= "ngModel" [(ngModel)]="productoService.selectedProducto.descripcion"  >
            </div>

       </div>

       <div class="col-12">
        <br>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" >Imagen URL: </span>
            </div>
            <input type="text" class="form-control" name="imagen" #imagen= "ngModel" [(ngModel)]="productoService.selectedProducto.imagen" >
            </div>

       </div>

       <div class="col-12">
        <br>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" >Precio: $</span>
            </div>
            <input type="text" class="form-control" name="precio" #precio= "ngModel" [(ngModel)]="productoService.selectedProducto.precio"  >
            </div>

       </div>


       <div class="col-12">
        <br>
        <br>
      <p class="text-center"><button class="btn btn-primary">Guardar</button></p>
         <button class="btn btn-primary right" (click)='resetForm(productoForm)'>Limpiar</button>
   
    </div>
     



   </div> 



</div>
</form>




</div>