<div class="container">
    <br>
    <br>
<h2 class="text-center">Registrar Productos</h2>
<br>
<br>

<form #productoForm="ngForm" (ngSubmit)= "addProducto(productoForm)">
<div class="card">
   <div class="row">
     <input type="hidden" name="_id" #id="ngModel" [(ngModel)]="productoService.selectedProducto._id">
       <div class="col-12">
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" >Nombre: </span>
            </div>
            <input type="text" class="form-control" name="nombre" #nombre= "ngModel" [(ngModel)]="productoService.selectedProducto.nombre">
            </div>

       </div>


       <div class="col-12">
        <br>
        <br>
         <select id="inputState" class="form-control" name="categoria" [(ngModel)]="opcionSeleccionado"  (change)="capturar()" >
           <option selected>Categoria</option>
           <option  *ngFor="let dato of datos">{{dato}}</option>
         </select>
       </div>

       <div class="col-12">
        <br>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" >Descripcion: </span>
            </div>
            <input type="text" class="form-control" name="descripcion" #descripcion= "ngModel" [(ngModel)]="productoService.selectedProducto.descripcion"  >
            </div>

       </div>

       <div class="col-12">
        <br>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" >Imagen URL: </span>
            </div>
            <input type="text" class="form-control" name="imagen" #imagen= "ngModel" [(ngModel)]="productoService.selectedProducto.imagen" >
            </div>

       </div>

       <div class="col-12">
        <br>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" >Precio: $</span>
            </div>
            <input type="text" class="form-control" name="precio" #precio= "ngModel" [(ngModel)]="productoService.selectedProducto.precio"  >
            </div>

       </div>


       <div class="col-12">
        <br>
        <br>
      <p class="text-center"><button class="btn btn-primary">Guardar</button></p>
         <button class="btn btn-primary right" (click)='resetForm(productoForm)'>Limpiar</button>
   
    </div>
     



   </div> 



</div>
</form>




</div>

<div class="container-fluid">
  <br>
  <br>
  <h4 class="text-center"> Tabla de Productos</h4>
  <table class="table table-hover">
    <thead>
      <th>Nombre</th>
      <th>Categoria</th>
      <th>Descripcion</th>
      <th>Precio $</th>
      <th>Operaciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productoService.productos">
        <td>{{producto.nombre}}</td>
        <td>{{producto.categoria}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.precio}}</td>
        <td>
          <a  class="btn" (click)="editProducto(producto)">Editar </a>
          <a class="btn" (click)="deleteProducto">  Eliminar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>