<div class="container">
    <br>
    <br>
<h2 class="text-center"s>Registrar Productos</h2>
<br>
<br>

<div class="card">
   <div class="row">
       <div class="col-12">
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" >Nombre: </span>
            </div>
            <input type="text" class="form-control"  >
            </div>

       </div>

       <div class="col-12">
        <br>
        <br>
         <select id="inputState" class="form-control">
           <option selected>Categoria</option>
           <option>Pizzas</option>
           <option>Bebidas</option>
           <option>Entradas</option>
           <option>Lasañas</option>
         </select>
       </div>

       <div class="col-12">
        <br>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" >Descripcion: </span>
            </div>
            <input type="text" class="form-control"  >
            </div>

       </div>

       <div class="col-12">
        <br>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" >Imagen URL: </span>
            </div>
            <input type="text" class="form-control"  >
            </div>

       </div>

       <div class="col-12">
        <br>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" >Precio: $</span>
            </div>
            <input type="text" class="form-control"  >
            </div>

       </div>


       <div class="col-12">
        <br>
        <br>
      <p class="text-center"><button class="btn btn-primary">Agregar</button></p>
      </div>
     



   </div> 


</div>




</div>