<div class="container-fluid">

    <h1 class="text-center"> Registro de Pedidos </h1>

    <br>
    <br>
  <!--  <form  #pedidoForm = "ngForm" (ngSubmit)="addPedido(pedidoForm)" >  -->
<div class="row">
<div class="col-6">
   
    <div class="input-group">
    <div class="input-group-prepend">
    <span class="input-group-text" >Nombre: </span>
    </div>
    <input type="text" class="form-control">
    </div>
</div>




<div class="col-6">
    <div class="input-group-prepend">
    <span class="input-group-text" >Fecha: </span>
    </div>
</div>


<div class="form-group col-6">
   <br>
   <br>
    <select id="inputState" class="form-control" name="mesa" [(ngModel)]="opcionSeleccionado"  (change)="capturar()">
      <option selected>Mesa</option>
      <option  *ngFor="let dato of datos">{{dato}}</option>
    </select>
  </div>  


  <div class="col-6">
    <br>
    <br>
    <legend class="col-form-label ">Estado</legend>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1"  value="Pendiente"  class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Pendiente</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2"  value="Entregado" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">Entregado</label>
      </div>

  </div>






<div class="col-6">
    <br>
    <br>
    <select id="inputState" class="form-control"  (change)="precio()" [(ngModel)]="pedido.producto">
      <option value="">Productos</option>
      <option *ngFor="let producto of productos" value="{{producto._id}}-{{producto.precio}}-{{producto.nombre}}">{{producto.nombre}}</option>
    </select>
  </div>

  <div class="col-6">
    <br>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text" >Cantidad: </span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="pedido.cantidad" >
        </div>

  </div>

  <div class="col-6">
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text" >Precio: $ </span>
        </div>
        <input type="text" class="form-control" disabled [(ngModel)]="pedido.precio" >
        </div>

  </div>
  <br>
  <div class="col-12">
    <br>
    <br>
  <p class="text-center"><button class="btn btn-primary" (click)="agregar()">Agregar</button></p>
  </div>
  

</div>


<div>

    <br>
    <br>
  
    <p class="text-center" >Listar de Productos</p>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Sub total</th>
        </tr>
    </thead>
    <tbody>
<tr *ngFor="let p of pedido.detalle_pedido; let i = index">
<td>{{p.producto_nombre}}</td>
<td>{{p.cantidad}}</td>
<td>{{p.precio}}</td>
<td>{{p.subtotal}}</td>
</tr>
    </tbody>
    <thead>
        <tr>
            <th colspan="3"></th>
            <th>Total: {{total}} </th>
        </tr>
    </thead>

</table>


</div>

<button class="btn btn-success float-right">Guardar</button>

<!--</form>  -->   
</div>

